
<template id="message-box-template">
    <!-- MessageBox -->
    <div id="message-box"
        class="mdc-dialog"
        role="alertdialog"
        aria-modal="true"
        aria-labelledby="messagebox-title"
        aria-describedby="messagebox-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2
                    id="messagebox-title"
                    class="mdc-dialog__title">title</h2>
                <div class="mdc-dialog__content" id="messagebox-content">
                    <h3
                        id="messagebox-message"
                        class="mdc-dialog__title">message</h3>
                </div>
                <footer class="mdc-dialog__actions">
                    <!-- Yes -->
                    <button id="msg-yes-btn" class="mdc-button mdc-button--raised">
                        <span i18n-content="yesDialogButton">Yes</span>
                    </button>
                    <!-- No -->
                    <button id="msg-no-btn" class="mdc-button">
                        <span i18n-content="noDialogButton">No</span>
                    </button>
                    <!-- OK -->
                    <button id="msg-ok-btn" class="mdc-button mdc-button--raised">
                        <span i18n-content="okDialogButton">OK</span>
                    </button>
                    <!-- Cancel -->
                    <button id="msg-cancel-btn" class="mdc-button">
                        <span i18n-content="cancelDialogButton">Cancel</span>
                    </button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</template>
